<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <!--
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      -->

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, class:"form-control", placeholder:"Customer Name" %>
  </div>

  <div>
    <br>
    <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
  </div>

  <div>
    <br>
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
