<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <!--
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      -->
      
      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, class:"form-control", placeholder:"Item Name" %>
  </div>

  <div>
    <br>
    <%= form.text_area :description, class:"form-control", placeholder:"Description" %>
  </div>

  <div>
    <br>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price, class:"col-form-label", placeholder:"Item Price" %>
  </div>

  <div>
    <br>
    <%= form.label :category, style: "display: block" %>
    <%= form.collection_check_boxes :category_ids, @categories || [], :id, :name do |c| %>
      <%= c.check_box %>&#9;<%= c.label %>
      <br>
    <% end %>
  </div>

  <div>
    <br>
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
